#dependcies
node_modules/

#Environment files(contain secrets-never commit these)

.backend/.env
.frontend/.env

#Build output
dist/
Build

#Logs
*.Logsnpm-debug.log*

#OS files
.DS_Store
Thumbs.db  


#Editor folders
.vscode/
.idea/

node_modules/
.env
dist/
build/
.vite/